extends layout

block content 
    head 
        title About Me 
    body 
        main
            section#about
                .about-wrapper
                    .about-text
                        h2 About Me
                        p I’m a software engineer with a passion for clean code, building practical applications, and solving real-world problems.
                        p I graduated from the University of Central Arkansas with a Bachelor's in Computer Science.
                    #aboutImage
                        img(src="/images/me.jpeg" alt="Vincent Climer")
