extends layout

block content 
    head 
        title About Me 
    main
        section#about
            .about-wrapper
                .about-text
                    h2 About Me
                    p I’m a software engineer with a passion for clean code, building practical applications, and solving real-world problems.
                    p I graduated from the University of Central Arkansas with a Bachelor's in Computer Science, and I’m currently working toward a Master’s degree in the same field.
                    p I have experience in full-stack development with experience in JavaScript, Node.js, SQL, C#, Java, C++, Python, and Pug. I take pride in designing intuitive and efficient systems.
                    p My work emphasizes user-centric design and long-term maintainability. I enjoy collaborating with others to bring meaningful ideas to life.
                    p Outside of tech, I enjoy strategy games, digital illustration, and reading books.

                #aboutImage
                    img(src="/images/me.jpeg" alt="Vincent Climer")
