extends layout

block content 
    head 
        title Contact  
    main
        section#contact
            h2 Contact Information
            ul.contact-info
                li Name: Vincent Climer
                li Email: vincentclimer@gmail.com
                li LinkedIn: 
                    a(href="https://www.linkedin.com/in/vincent-climer-050374356/", target="_blank") vincentclimer
                li Phone Number: (501)681-6008