extends layout

block content
  head 
    title My Portfolio
  body

    main
        section#hero
            h3 Welcome to My Portfolio
            p Feel free to explore my portfolio, LinkedIn, and GitHub!
        section#main-page-buttons
                a(href="/portfolio") View Portfolio
                a(href="https://www.linkedin.com/in/vincent-climer-050374356/", target="_blank") LinkedIn
                a(href="https://github.com/Origamiboss", target="_blank") GitHub
            

      
      


