extends layout
block head-extra
    title Mine Sweeper

block content
    section#game
        h1 Mine Sweeper
        p Play as a mine sweeper and try to clear the board without hitting any mines.
        p WASD allows you to move your character around.
        p Arrow Keys allow you to place flags.
        p Good luck on winning this challenging game.
        iframe(
            src="/games/MineSweeper/index.html"
            style="width:100%; height:80vh; border:2px solid black;"
        )