extends layout

block content 
    head 
        title Projects 
    body 
        main
            section#projects
                .project-grid
                    a.project(href="https://github.com/Origamiboss/TeachingCapstone", target="_blank")
                        h3 Teaching Capstone
                        p AI assignment generator where you can create a teacher account, link student accounts, and generate assignments for the students based on your powerpoints.
                        p Tools Used: Node.js, JavaScript, Pug, CSS, SQL, and OpenAI.
                    a.project(href="https://github.com/Origamiboss/FinalVictimPickerProject", target="_blank")
                        h3 Victim Picker
                        p An Application that hosts a list of students, and randomly selects one. The application will display a question and allow the student to answer the question. The app stores information for each student for future use.
                        p Tools Used: Java
                .project-grid
                    a.project(href="https://github.com/Origamiboss/Software-Engineering-Poker", target="_blank")
                        h3 5 Card Poker
                        p A LAN application that connects multiple players together to play 5 card draw.
                        p Tools Used: Java
                    a.project(href="https://github.com/Origamiboss/Software-Engineering-Poker", target="_blank")
                        h3 5 Card Poker
                        p A LAN application that connects multiple players together to play 5 card draw.
                        p Tools Used: Java
                    