extends layout
block content
  
    section#game
        h1 Supreme Villain Demo
        p This is a demo of the Supreme Villain game.
        p The Supreme Villain template is a simple template that can be used to create a villainous character.
        p It includes a title, a description, and a list of evil deeds.
        p You can customize the template by changing the title, description, and evil deeds.
        iframe(
            src="/games/SupremeVillain/index.html"
            width="960"
            height="600"
            frameborder="0"
            allowfullscreen
        )