.project-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 1.5rem;
    background-color: #b6b6b6;
    padding: 2rem;
}

    /* Round top corners of the first item */
    .project-grid:first-child {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    /* Round bottom corners of the last item */
    .project-grid:last-child {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    /* Round all corners if its the only child*/
    .project-grid:only-child {
        border-radius: 16px;
    }

    .project-grid a.project {
        background: #f4f4f4;
        padding: 1rem;
        border-radius: 8px;
        border-left: 2.5px solid;
        border-left-color: #2b4e21;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        text-decoration: none;
        color: inherit;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: block;
    }

        .project-grid a.project:hover {
            transform: translateY(-4px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.15);
            border-left-color: #8fcf7a;
        }

.project h3 {
    margin-bottom: 0.5rem;
    color: #333;
}

.project p {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 0.5rem;
}
